.contact-container {
    margin-top: 20px;
    background-color: #201f1f;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.contact-container h2 {
    color: #f8f1f1;
    margin-left: 18rem;
}

.contact-container p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #ddd;
    margin-left: 18rem;
}

.contact-container a {
    color: #e9edf1;
}

.contact-container iframe {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 767px) {
    .contact-container {
        padding: 10px;
    }

    .contact-container h2 {
        color: #0f44e3;
        margin-left: 15rem;
    }
    
    .contact-container p {
        font-size: 16px;
        margin-bottom: 10px;
        color: #ddd;
        margin-left: 15rem;
    }
}