/* Estilo del footer */
.footer {
    background-color: #0a0a0a;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: auto; /* Empuja el footer al fondo de la página */
}

.footer p {
    margin: 0;
    font-size: 14px;
}

.footer a {
    color:rgb(119, 119, 119);
    text-decoration: none;
    font-size: 1rem;
}

.footer a:hover {
    text-decoration: underline;
}