/ @media (max-width: 768px) {
      .article-container .article {
        margin-bottom: 20px;
      }

      .article p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .article img {
        width: 100%;
        height: auto;
        display: block;
      }
    }