@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Ajusta la altura de la subida */
    }
}

#whatsapp-div {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #696969; /* Color de WhatsApp */
    color: white;
    padding: 15px;
    border-radius: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    animation: bounce 1s infinite; /* Aplicar la animación */
}

/* Icono de WhatsApp */
#whatsapp-div img {
    width: 35px;
    height: 40px;
    margin-right: 10px;
    border-radius: 1rem;
}

/* Estilo del texto */
#whatsapp-div span {
    font-size: 13px;
    color: #ebe3e3;
}
