* Estilos generales para el contenido */
main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}


.detalle-grupo {
   
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px 14px 13px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
   
    margin: 12px  ;
    margin-left: 28%;
  
}

.grupo-info {
    text-align: center;
    margin-bottom: 20px;
  
}

.grupo-info img {
    max-width: 25%;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    
}

.grupo-info h2 {
    font-size: 1.8rem;
    margin-top: 10px;
    margin-bottom: 5px;
}

.grupo-info p {
    font-size: 1.1rem;
    line-height: 1.5;
}

.formulario-inscripcion {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 55%;
    margin: auto;
}

.formulario-inscripcion h3 {
    font-size: 1.4rem;
    margin-bottom: 15px;
}

.formulario-inscripcion label {
    display: block;
    margin-bottom: 8px;
}

.formulario-inscripcion input[type="text"],
.formulario-inscripcion input[type="email"],
.formulario-inscripcion input[type="tel"],
.formulario-inscripcion input[type="submit"] {
    width: 90%;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}

.formulario-inscripcion input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 134px;
  
    
}

.formulario-inscripcion input[type="submit"]:hover {
    background-color: #0056b3;
}

@media (max-width: 780px) {
    .detalle-grupo {
   
    
        width: 80%;
        margin-left: 35px;
     
      
    }
    .grupo-info h2 {
        font-size: 1.5rem;
    }

    .grupo-info p {
        font-size: 0.8rem;
    }

    .formulario-inscripcion input[type="text"],
    .formulario-inscripcion input[type="email"],
    .formulario-inscripcion input[type="tel"],
    .formulario-inscripcion input[type="submit"] {
        font-size: 0.9rem;
    }
}
