@media (min-width: 580px) and (max-width: 1180px) {
    header nav {
        
        justify-content: space-around;
       
        
    }
    header nav  h1{
        font-size: 12px;
    
    }
   
    header nav ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 10px;
    }
    .hero h1 {
        font-size: 1.1rem;
        margin-bottom: 20px;
    }
    
    .hero p {
        font-size:1.0rem;
        margin-bottom: 30px;
    }
    
    .categorias div img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #ccc;
    }
    

    .beneficios li img {
        width: 200px;
        height: 250px;
        margin-bottom: 10px;
    }

  
}
@media (max-width: 580px) {
    header nav {
        
        justify-content: space-around;
       
        
    }
    header nav  h1{
        font-size: 12px;
    
    }
   
    header nav ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 9px;
        
    }
    .hero h1 {
        font-size: 1.1rem;
        margin-bottom: 20px;
    }
    
    .hero p {
        font-size:1.0rem;
        margin-bottom: 30px;
    }
    
    .categorias div img {
        width: 80px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #ccc;
    }
    

    .beneficios li img {
        width: 142px;
        height: 250px;
        margin-bottom: 0px;
        margin-left: -1rem;
    }

  
}