/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-right: 18px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
header nav ul li a:hover {
    color: #196be6;
    
}
header nav  h1{
    font-size: 18px;
 color: #cecbcb;
}
header nav  h1 span{
    
 color: #0e94ee;
}


.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #007bff;
    color: #fff;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.hero form {
    margin: 0 auto;
    max-width: 400px;
}

.hero form input[type="text"] {
    width: 70%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.hero form button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hero form button:hover {
    background-color: #218838;
}

.main {
    padding: 20px;
}

.categorias-populares {
    text-align: center;
    margin-bottom: 40px;
    
}

.categorias {
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.categorias div {
    text-align: center;
}

.categorias div img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
}

.categorias div p {
    margin-top: 10px;
   
}
.categorias div p a {
    text-decoration: none; /* Quita la subrayado predeterminado */
    color: #0467e9; /* Color de texto */
    border-bottom: 2px solid #c9c6c6; /* Borde azul de 2px en la parte inferior */
    padding-bottom: 2px; /* Espacio para el borde para que no se superponga al texto */
    transition: border-bottom 0.3s ease; /* Transición suave para el borde */
}

.categorias div p a:hover {
    border-bottom-color: #024b7d; /* Cambia el color del borde al pasar el mouse */
}

.beneficios {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 40px;
}

.beneficios h2 {
    text-align: center;
    margin-bottom: 20px;
}

.beneficios ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    gap: 13px;
}

.beneficios li {
    text-align: center;
}

.beneficios li img {
    width: 300px;
    height: 350px;
    margin-bottom: 10px;
}

.beneficios li span {
    display: block;
    font-size: 0.9rem;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer nav ul li {
    display: inline-block;
    margin-right: 20px;
}

footer nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Estilos específicos para explorar.html */

.filtros {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 40px;
    
}

.filtros h2 {
    margin-bottom: 20px;
}

.filtros form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filtros form label {
    display: block;
    margin-bottom: 5px;
}

.filtros form input[type="text"],
.filtros form select {
    width: calc(50% - 10px);
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filtros form input[type="checkbox"] {
    margin-right: 5px;
}

.grupos {
    width: 60%;
display: flex;
flex-wrap: wrap;
overflow:scroll;
margin: auto;
height: 689px;

gap: 12px 12px;
}

.grupo {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 300px;
    text-align: center;
    
}

.grupo img {
    height: 230px;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

.grupo h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.grupo p {
    font-size: 1rem;
    margin-bottom: 15px;
}

.grupo a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.grupo a:hover {
    background-color: #0056b3;
}
h3{
text-align: center;
font-size: 26px;
padding: 1px;
margin-left: -25px;
}


