body {
  font-family: 'Arial', sans-serif;
  background-color: #edd593;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app-container {
  text-align: center;
  width: 400px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #17171b;
  font-family: 'Times New Roman', Times, serif;
}
span{
  color: rgb(0, 136, 255);
}